USE [master]
GO
/****** Object:  Database [ExlEmployee]    Script Date: 8/2/2020 8:53:31 PM ******/
CREATE DATABASE [ExlEmployee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExlEmployee', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ExlEmployee.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExlEmployee_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ExlEmployee_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExlEmployee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExlEmployee]
GO
/****** Object:  Table [dbo].[ExlEmployee]    Script Date: 8/2/2020 8:53:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExlEmployee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](256) NOT NULL,
	[LastName] [nvarchar](256) NOT NULL,
	[MiddleName] [nvarchar](256) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](450) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](450) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Salary] [money] NOT NULL,
	[Gender] [text] NOT NULL,
 CONSTRAINT [PK__ExlEmplo__3214EC0792AD1B72] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExlTeam]    Script Date: 8/2/2020 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExlTeam](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_ExlTeam] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExlTeamEmployee]    Script Date: 8/2/2020 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExlTeamEmployee](
	[TeamId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ExlEmployeeView]    Script Date: 8/2/2020 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ExlEmployeeView]
AS
SELECT        dbo.ExlEmployee.Id, dbo.ExlEmployee.FirstName, dbo.ExlEmployee.LastName, dbo.ExlEmployee.MiddleName, dbo.ExlEmployee.StartDate, dbo.ExlEmployee.EndDate, dbo.ExlEmployee.CreateDate, 
                         dbo.ExlEmployee.CreatedBy, dbo.ExlEmployee.ModifiedDate, dbo.ExlEmployee.ModifiedBy, dbo.ExlEmployee.BirthDate, dbo.ExlEmployee.Salary, dbo.ExlEmployee.Gender, dbo.ExlTeam.TeamName
FROM            dbo.ExlEmployee INNER JOIN
                         dbo.ExlTeamEmployee ON dbo.ExlEmployee.Id = dbo.ExlTeamEmployee.EmployeeId INNER JOIN
                         dbo.ExlTeam ON dbo.ExlTeamEmployee.TeamId = dbo.ExlTeam.TeamId
GO
SET IDENTITY_INSERT [dbo].[ExlEmployee] ON 

INSERT [dbo].[ExlEmployee] ([Id], [FirstName], [LastName], [MiddleName], [StartDate], [EndDate], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [BirthDate], [Salary], [Gender]) VALUES (1, N'Dmitri', N'Stoianov', N'A', CAST(N'2005-02-05' AS Date), NULL, CAST(N'2005-02-20T00:00:00.000' AS DateTime), N'asuri', CAST(N'2005-02-20T00:00:00.000' AS DateTime), N'asuri', CAST(N'1952-02-03' AS Date), 57000.0000, N'm')
INSERT [dbo].[ExlEmployee] ([Id], [FirstName], [LastName], [MiddleName], [StartDate], [EndDate], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [BirthDate], [Salary], [Gender]) VALUES (2, N'joo han', N'lee', N'B', CAST(N'2005-02-06' AS Date), NULL, CAST(N'2005-02-21T00:00:00.000' AS DateTime), N'asuri', CAST(N'2005-02-21T00:00:00.000' AS DateTime), N'asuri', CAST(N'1958-05-23' AS Date), 40200.0000, N'm')
INSERT [dbo].[ExlEmployee] ([Id], [FirstName], [LastName], [MiddleName], [StartDate], [EndDate], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [BirthDate], [Salary], [Gender]) VALUES (3, N'Rick', N'Rhodes', N'C', CAST(N'2005-02-07' AS Date), NULL, CAST(N'2005-02-22T00:00:00.000' AS DateTime), N'asuri', CAST(N'2005-02-22T00:00:00.000' AS DateTime), N'asuri', CAST(N'1929-07-26' AS Date), 21450.0000, N'f')
GO
SET IDENTITY_INSERT [dbo].[ExlEmployee] OFF
SET IDENTITY_INSERT [dbo].[ExlTeam] ON 

INSERT [dbo].[ExlTeam] ([TeamId], [TeamName]) VALUES (1, N'Human Resource')
INSERT [dbo].[ExlTeam] ([TeamId], [TeamName]) VALUES (2, N'Development')
INSERT [dbo].[ExlTeam] ([TeamId], [TeamName]) VALUES (3, N'Executive')
SET IDENTITY_INSERT [dbo].[ExlTeam] OFF
INSERT [dbo].[ExlTeamEmployee] ([TeamId], [EmployeeId]) VALUES (1, 1)
INSERT [dbo].[ExlTeamEmployee] ([TeamId], [EmployeeId]) VALUES (1, 2)
INSERT [dbo].[ExlTeamEmployee] ([TeamId], [EmployeeId]) VALUES (1, 3)
GO
ALTER TABLE [dbo].[ExlEmployee] ADD  CONSTRAINT [DF__ExlEmploy__Gende__1920BF5C]  DEFAULT ('F') FOR [Gender]
GO
ALTER TABLE [dbo].[ExlTeamEmployee]  WITH CHECK ADD  CONSTRAINT [FK_ExlTeamEmployee_ExlEmployee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[ExlEmployee] ([Id])
GO
ALTER TABLE [dbo].[ExlTeamEmployee] CHECK CONSTRAINT [FK_ExlTeamEmployee_ExlEmployee]
GO
ALTER TABLE [dbo].[ExlTeamEmployee]  WITH CHECK ADD  CONSTRAINT [FK_ExlTeamEmployee_ExlTeam] FOREIGN KEY([TeamId])
REFERENCES [dbo].[ExlTeam] ([TeamId])
GO
ALTER TABLE [dbo].[ExlTeamEmployee] CHECK CONSTRAINT [FK_ExlTeamEmployee_ExlTeam]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ExlEmployee"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExlTeam"
            Begin Extent = 
               Top = 2
               Left = 632
               Bottom = 98
               Right = 802
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExlTeamEmployee"
            Begin Extent = 
               Top = 29
               Left = 336
               Bottom = 188
               Right = 550
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ExlEmployeeView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ExlEmployeeView'
GO
USE [master]
GO
